/* 89C6C5 blue
EAB55C gold
E86D55 red
4D4D4D soft black */

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #4D4D4D;
}

a,
a:visited,
a:active,
a:hover {
  color: #89C6C5;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.caps {
  text-transform: uppercase;
}

.mobile {
  display: none;
}

.desktop {
  display: inline;
}

/* MAIN PAGE & LAYOUT */

img#logo {
  width: 8%;
  min-width: 80px;
  margin: 1% 2% 0.5%;
}

nav {
  display: flex;
  padding: 2% 2% 1%;
  float: right;
  margin-top: 1%;
  overflow: hidden;
}

nav a,
nav a:visited,
nav a:active,
nav a:hover {
  color: black;
}

nav h2 {
  margin: auto 25px;
  font-size: 1.35vw;
  display: inline-flex;
}

a#home-button:hover,
a#home-button:active,
a#faq-button:hover,
a#faq-button:active {
  background-image: url('images/underline-short.svg');
  background-position: 0 105%;
  background-repeat: no-repeat;
}

a#promise-button:hover,
a#promise-button:active,
a#contact-button:hover,
a#contact-button:active,
a#process-button:hover,
a#process-button:active {
  background-image: url('images/underline-long.svg');
  background-position: 0 108%;;
  background-repeat: no-repeat;
}

/* TEMPORARY LANDING */

#temp_landing {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#temp_landing #name {
  top: 11vh;
}

#temp_landing #tag {
  top: 33vh;
}

#temp_img1 {
  position: absolute;
  width: 18vw;
  top: -5vh;
  left: 0vw;
  z-index: -100;
  transform: rotate(20deg);
}

#temp_img2 {
  position: absolute;
  width: 24vw;
  bottom: -8vh;
  right: -2vw;
  z-index: -99;
  transform: rotate(-125deg);
}

#temp_landing #border {
  position: absolute;
  bottom: 4vh;
  width: 100vw;
  left: 0;
}

#temp_message_wrapper {
  margin: 48vh 15vw auto;
  width: 70vw;
}

#temp_message {
  width: 100%;
}

#temp-contact {
  font-size: 3.5vh;
  margin: -2.5vh;
  color: #EAB55C;
}


/* - - - - - - - - - - - */

#landing {
  text-align: center;
  width: 100vw;
  color: black;
  overflow: hidden;
}

#landing-img {
  width: 100%;
  z-index: -1;
  opacity: 0.65;
}

img#border {
  opacity: 0.95;
  float: left;
  margin-top: -1%;
}

#name,
#tag {
  position: absolute;
  z-index: 1;
  width: 100vw;
}

#name {
  font-size: 8vw;
  font-family: 'Old Standard TT', serif;
  top: 28vh;
  letter-spacing: 1.5vw;
}

img#lashes {
  width: 10vw;
  position: absolute;
  top: 6vh;
  left: 4.5vw;
}

#lash-wrap {
  position: relative;
}

#tag {
  font-size: 3.35vh;
  top: 52vh;
  letter-spacing: 0.5vw;
}

#landing-button-wrapper {
  width: 50vw;
  margin: auto 25vw;
  height: 20vh;
  position: absolute;
  top: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button.type-1 {
  border: 1.5px solid white;
  border-radius: 2px;
  padding: 15px 20px;
  width: 20vw;
  max-width: 250px;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  font-size: 1.2vw;
  color: black;
  opacity: 0.9;
}

button.type-1:hover {
  background-color: white;
  cursor: pointer;
  color: #EAB55C;
}

button:focus {
  outline: 0 !important;
}

#button-1,
#button-2 {
  position: relative;
}

div#who-we-are {
  width: 100vw;
}

div#missive {
  width: 60;
  margin: 5vw 15vw 7vw 18vw;
}

#missive h1 {
  color: #89C6C5;
  font-size: 3.5vw;
  margin-bottom: 0;
  letter-spacing: 1.3vw;
}

#missive p {
  font-size: 1.28vw;
  letter-spacing: 0.15vw;
}

div#image-wrapper {
  width: 100vw;
  overflow: hidden;
}

div#image-wrapper img {
  width: 100%;
  opacity: 0.8;
}

div#read-more {
  text-align: center;
  padding: 2vh 20vw;
  position: relative;
}

#read-more h1 {
  color: #89C6C5;
  font-size: 2.7vw;
  letter-spacing: 0.45vw;
}

#read-more p {
  font-size: 1.28vw;
  letter-spacing: 0.15vw;
}

button.type-2 {
  padding: 15px 20px;
  width: 20vw;
  max-width: 250px;
  background-color: #89C6C5;
  border-radius: 3px;
  font-size: 1.2vw;
  color: white;
  border: 1.5px solid #89C6C5;
}

button.type-2:hover {
  background-color: transparent;
  color: #89C6C5;
}

#button-3 {
  margin: 3%;
}

div#join-us {
  width: 100vw;
  margin: 3vh 3vw;
  position: relative;
}

#join-us img {
  width: 45vw;
}

img#circles {
  position: absolute;
  width: 8vw;
  bottom: -5vh;
  right: 51.2vw;
}

div#join-call {
  float: right;
  width: 47vw;
  margin-right: 6vw;
}

#join-call h1 {
  color: #EAB55C;
  font-size: 2.7vw;
  letter-spacing: 0.45vw;
}

#join-call p {
  font-size: 1.28vw;
  letter-spacing: 0.15vw;
}

#button-4 {
  margin: 3% 0;
}

div#testimonials {
  width: 100vw;
  margin-top: 8vh;
  position: relative;
}

div#testimonials #image {
  position: absolute;
  background-image: url('images/bubble-run.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 100%;
  width: 100vw;
}

div#blue-wash {
  width: 100vw;
  height: 100%;
  background: linear-gradient(90deg, #89C6C5, #89C6C5, white);
  opacity: 0.4;
}

img#border-2 {
  opacity: 0.95;
  margin-top: -1.5vh;
  width: 100vw;
  position: absolute;
  left: -5vw;
  width: 120vw;
}

#testimonials h1 {
  font-size: 2.7vw;
  letter-spacing: 0.45vw;
  color: white;
  padding: 4vh 0 0 6vw;
}

#testimonial-wrapper {
  width: 80vw;
  color: white;
  margin: 15vh 10vw 0;
  font-size: 1.28vw;
  position: relative;
  display: flex;
}

#testimonial-wrapper-left {
  width: 20%;
  left: 0;
  position: relative;
  font-size: 1.5vw;
  text-align: center;
  font-style: italic;
}

#testimonial-image-wrapper {
  position: relative;
  width: 11vw;
  height: 11vw;
  overflow: hidden;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

#testimonial-image-wrapper img {
  width: 100%;
}

#testimonial-wrapper-right {
  width: 77.5%;
  right: 0;
  position: relative;
  margin-left: 2.5%;
  letter-spacing: 0.15vw;
  font-size: 1.45vw;
  /*height: 64vh;*/
}

img#ears {
  position: absolute;
  width: 10vw;
  top: -9vh;
  left: 3vw;
}

img#stars {
  width: 80%;
  padding: 0;
}

button.type-3 {
  padding: 15px 20px;
  width: 20vw;
  max-width: 250px;
  color: #89C6C5;
  font-size: 1.2vw;
  background-color: white;
  border: 1.5px solid white;
  border-radius: 3px;
}

button.type-3:hover {
  background-color: transparent;
  color: white;
}

#button-5-wrapper {
  display: block;
  width: 100vw;
  text-align: center;
  height: 11vh;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  display: inline;
  text-align: left;
  position: relative;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'READ MORE';
  position: absolute;
  top: 14vh;
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'READ LESS';
  position: static;
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  font-size: .9em;
  line-height: 2;
  border-radius: .25em;
  color: #EAB55C;
}


/* CONTACT PAGE */

#contact-title {
  text-align: center;
  letter-spacing: 0.5vw;
  margin-top: 12vh;
  font-size: 2.75vw;
  padding-left: 1vw;
}

div#contact-wrapper {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  letter-spacing: 0.4vw;
  font-size: 1vw;
  margin: 5vh auto 7vh;
}

div#blue-line {
  position: relative;
  height: 28vh;
  border: 1px solid #89C6C5;
  margin-top: 1.8vh;
}

#contact-wrapper-left,
#contact-wrapper-center,
#contact-wrapper-right {
  position: relative;
  padding: 3% 2%;
  text-align: center;
  font-size: 1.2vw;
  width: 28%;
}

#contact-wrapper-left a,
#contact-wrapper-center a,
#contact-wrapper-right a {
  color: #4D4D4D;
}

#contact-circle {
  position: absolute;
  z-index: -1;
  width: 12vw;
  top: 2.5vh;
  right: 8.25vw;
}

#contact-swirl {
  position: absolute;
  z-index: -1;
  width: 9vw;
  right: 9vw;
}

#contact-train {
  position: absolute;
  z-index: -1;
  width: 12vw;
  right: 9vw;
}

#contact-wrapper-center h2 {
  padding-top: 3vh;
}

#social-media {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4.5vh;
  margin-bottom: -3.5vh;
}

#social-media-icon {
  width: 1.5vw;
  margin: 1.5vh;
}

#social-media h3 {
  font-size: 1.25vw;
  letter-spacing: 0.3vw;
  padding-top: 8.7vh;
  margin-right: 1.8vw;
}

#sitemap #border {
  width: 110%;
  position: absolute;
  left: -2vw;
  top: 0.5vh;
}

/* PROMISE PAGE */

#promise-page {
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

#promise-page a,
#promise-page a:hover,
#promise-page a:active,
#promise-page a:visited {
  color: white;
}

#promise-page a#home-button:hover,
#promise-page a#home-button:active {
  background-image: url('images/underline-white.svg');
  background-position: 20% 110%;
  background-size: 12vw;
  background-repeat: no-repeat;
}

#promise-page a#faq-button:hover,
#promise-page a#faq-button:active,
#promise-page a#process-button:hover,
#promise-page a#process-button:active,
#promise-page a#promise-button:hover,
#promise-page a#promise-button:active,
#promise-page a#contact-button:hover,
#promise-page a#contact-button:active {
  background-image: url('images/underline-white.svg');
  background-position: 0 110%;
  background-repeat: no-repeat;
}

#image-2 {
  float: right;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 115vh;
  z-index: -1;
  background-image: url(images/book.jpg);
  background-size: cover;
}

#white-wash {
  width: 120vw;
  height: 120vh;
  background: linear-gradient(90deg, #393939, white, white);
  opacity: 0.4;
}

div#promise-content {
  width: 49vw;
  height: 90vh;
  padding: 4.5vw 4vw 0;
  position: absolute;
  top: 8vh;
}

#promise-content img {
  width: 10vw;
  margin-left: 1vw;
}

#promise-content h1 {
  font-size: 3.2vw;
  letter-spacing: 0.65vw;
  margin: 0;
}

#promise-content p,
#promise-content table {
  font-size: 1.28vw;
  letter-spacing: 0.15vw;
}

#promise-content p:last-of-type {
  width: 95%;
}

#promise-content table img {
  width: 2vw;
  margin-right: 1vw;
}

#promise-content-box table {
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 120%;
}

img#promise-second,
img#promise-first {
  width: 3vw;
  display: block;
  margin: 5vh auto;
}

img#promise-second:hover,
img#promise-first:hover {
  cursor: pointer;
}

img#promise-first {
  display: none;
  transform: rotate(180deg);
}

#logo-big {
  position: absolute;
  bottom: -14vh;
  right: 1vw;
  width: 20vw;
  margin: 2vw;
}

#promise-page #sitemap {
  position: absolute;
  bottom: -50vh;
}

/* FAQ PAGE */

#faq-header {
  margin: 4vh 4.5vw 0;
  font-size: 2vw;
  letter-spacing: 0.45vw;
}

#faq-wrapper {
  width: 93vw;
  margin: 0 3.5vw 1vh;
  color: grey;
  font-size: 1.1vw;
  letter-spacing: 0.15vw;
  vertical-align: top;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 1vw;
}

#faq-left-clm {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
  float: left;
  padding-top: 0;
}

#faq-left-clm p {
  margin-bottom: 0;
}

#parent {
  color: #D49906;
  cursor: pointer;
}

#caregiver {
  color: #89C6C5;
  cursor: pointer;
}

#faq-right-clm {
  position: relative;
  width: 75%;
  display: flex;
  flex-direction: column;
  float: right;
  padding-top: 0;
}

#faq-right-clm span {
  padding-left: 3vw;
}

#image-3 {
  background-image: url('images/swing.jpg');
  background-size: cover;
  width: 19.5vw;
  height: 21.5vh;
  opacity: 0.65;
  margin-top: 4vh;
}

#faq-left-clm img {
  position: absolute;
  width: 5vw;
  right: 2.5vw;
  top: 30vh;
}

/* APPLY PAGE */

#apply-wrapper {
  width: 100vw;
  margin-top: 3vh;
  margin-bottom: 0;
  position: relative;
  overflow: visible;
}

#apply-wrapper img{
  width: 22vw;
  position: absolute;
  right: 10vw;
  margin-top: 4.5vh;
  opacity: 0.65;
}

#apply-form {
  width: 53vw;
  float: left;
  clear: both;
  margin: 1.5vh 0 -5vh 10vw;
  position: relative;
  overflow: visible;
}

#apply-form h1 {
  text-align: right;
  font-size: 1.7vw;
  letter-spacing: 0.3vw;
  margin-bottom: 5vh;
}

#apply-form input,
#apply-form textarea {
  width: 100%;
  font-size: 1.3vw;
  margin-bottom: 1vh;
  padding: 1.5%;
  padding-left: 2%;
  border: 0;
  color: grey;
  background-color: #EFF7F7;
}

input:focus,
textarea:focus {
  outline: 0 !important;
}

#apply-form input:nth-of-type(3) {
  width: 45%;
  position: absolute;
  right: 0;
  cursor: pointer;
}

#apply-page #social-media {
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto auto 5vh 10.5vw;
  padding-top: 3vh;
}

#apply-page #social-media h3 {
  padding-top: 0;
  margin-top: 1.2vh;
  margin-bottom: 4vh;
}

#apply-page #sitemap {
  position: absolute;
  bottom: -28vh;
}

/* REQUEST PAGE */

#request-image {
  position: absolute;
  top: 15vh;
  width: 100vw;
  z-index: -100;
  left: -23vw;
}

#request-page #white-wash {
  opacity: 0.95;
  background: linear-gradient(90deg, transparent, white, white);
  right: -12vw;
  position: absolute;
  z-index: -99;
}

#request-wrapper {
  position: absolute;
  width: 53vw;
  right: 7vw;
  top: 30vh;
  overflow: visible;
}

#request-form {
  width: 100%;
  overflow: visible;
}

#request-form h1 {
  font-size: 1.7vw;
  letter-spacing: 0.3vw;
  color: #89C6C5;
  margin-bottom: 5vh;
}

#request-form input,
#request-form textarea {
  width: 67%;
  font-size: 1.3vw;
  margin-bottom: 1vh;
  padding: 1.5%;
  padding-left: 2%;
  border: 0;
  opacity: 0.85;
  background-color: #EFF7F7;
}

#request-form textarea {
  width: 100%;
}

#request-form input:nth-of-type(3) {
  width: 45%;
  position: absolute;
  right: 0;
  cursor: pointer;
}

#request-wrapper #social-media {
  justify-content: flex-start;
  margin: -11.5vh 1vw;
}

#request-page #sitemap {
  position: absolute;
  bottom: -32vw;
  overflow: visible;
}

/* PROCESS PAGE */

#process-wrapper {
  width: 100%;
  height: 120%;
  margin-top: 1vh;
  position: relative;
}

#process-wrapper #image {
  background-image: url('images/reading-laughing.jpg');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 10vw;
}

#kid-laugh-wash {
  height: 100%;
  width: 92%;
  position: absolute;
  right: 0;
  background: linear-gradient(90deg, transparent, white, white);
}

#process-content {
  position: absolute;
  right: 0;
  width: 58vw;
  margin: 5vh 3vw 1vw;
  height: 95%;
}

#process-content table {
  margin: 3vh auto;
  border-spacing: 0.8vw 2.5vh;
}

#process-content table img {
  width: 18px;
  position: absolute;
  top: -0.9vh;
  margin: 1vw;
}

td#bullet {
  position: relative;
  width: 40px;
}

/* BOOK A BABYSITTER */

#babysitter-wrapper {
  background-image: url('images/pink-girl.jpg');
  background-position: 0 50%;
  background-size: cover;
  height: 180vh;
  position: relative;
}

#babysitter-wrapper #white-wash {
  position: absolute;
  width: 100%;
  height: 80%;
  background: linear-gradient(white, white, transparent);
  opacity: 0.97;
}

#babysitter-form-wrapper {
  width: 62vw;
  margin-left: 10vw;
  z-index: 100;
  position: absolute;
  top: 5vh;
  color: grey;
}

#babysitter-wrapper h1 {
  letter-spacing: 0.3vw;
}

.blue {
  color: #89C6C5;
}

.gold {
  color: #EAB55C;
  }

.bold {
  font-weight: 600;
}

#babysitter-form input,
#babysitter-form textarea {
  width: 100%;
  font-size: 1.3vw;
  margin-bottom: 1vh;
  padding: 1.5%;
  padding-left: 2%;
  border: 0;
  color: grey;
  background-color: white;
  opacity: 0.7;
}

#babysitter-form input:nth-of-type(1),
#babysitter-form input:nth-of-type(2),
#babysitter-form input:nth-of-type(3),
#babysitter-form input:nth-of-type(4) {
  width: 65%;
}

#babysitter-form input:nth-of-type(5) {
  width: 45%;
  background-color: #89C6C5;
  cursor: pointer;
  opacity: 1;
}

/* SITEMAP */

#sitemap {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 2vw 2vw;
  overflow-y: visible;
  background-color: #89C6C5;
}

#sitemap-border {
  position: absolute;
  top: -1.25vh;
  left: -1vw;
  width: 110vw;
}

#sitemap-background {
  position: absolute;
  width: 250%;
  height: 125%;
  left: -73%;
  top: -5%;
  z-index: 10;
  display: none;
}

#sitemap p,
#sitemap a {
  color: white;
  margin: 0.8vh;
}

#sitemap div {
  display: flex;
  flex-direction: column;
  margin: 3vw 2vw 2vw;
  z-index: 11;
}

#sitemap #address {
  position: absolute;
  left: 2vw;
}

/* AGENCY FEES */

#agency-fees-wrapper {
  height: 100vh;
  overflow: hidden;
}

#agency-fees-wrapper #image {
  background-image: url('images/boy-yellow.jpg');
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  left: 8vw;
}

#image #white-wash {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, white, white, transparent);
  opacity: 0.97;
  left: -22vw;
}

#agency-fees {
  margin: 10vh 7vw;
  width: 32vw;
}

#agency-fees h1 {
  color: #89C6C5;
  font-weight: 600;
  letter-spacing: 0.65vw;
  font-size: 3vw;
}

#agency-fees h3 {
  color: #EAB55C;
  font-size: 1.5vw;
}

#agency-fees p:nth-of-type(4) {
  width: 40vw;
  margin-top: 5vh;
}

/* MOBILE RESPONSE */

@media (min-device-width: 300px) and (max-device-width: 479px) {

  .mobile {
    display: inline;
  }

  .desktop {
    display: none;
  }

  #nav-wrapper {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    background-color: white;
  }

  nav {
    width: 100vw;
    height: 88vh;
    position: absolute;
    color: white;
    background: linear-gradient(#89C6C5, #89C6C5, #89C6C5, white);
    top: 12vh;
    margin: 0;
    flex-direction: column;
    justify-content: start;
    z-index: 999;
    text-transform: uppercase;
    text-align: center;
    display: none;
  }

  nav h2,
  nav h2.mobile {
    font-size: 8vw;
    margin-bottom: 2vh;
    display: block;
  }

  nav h2 a,
  nav h2 a:active,
  nav h2 a:visited {
    color: white;
  }

  .dropbtn {
    position: absolute;
    z-index: 2002;
    opacity: 0.4;
  }

  .dropbtn img {
    width: 15vw;
    margin: 0.5vw;
  }

  #sitemap {
    display: none;
  }

  .show {
    display:block;
  }

  /* MAIN PAGE & LAYOUT */

  img#logo {
    position: absolute;
    width: 80vw;
    margin: auto 10vw;
    top: 20vh;
    left: 0;
  }

  div#landing {
    text-align: center;
    width: 100vw;
    height: 185vw;
    color: black;
    overflow: hidden;
  }

  #landing-img {
    width: 200vw;
    left: -20vw;
    margin-top: 12vh;
    position: static;
    opacity: 0.3;
    overflow: hidden;
  }

  #landing #border {
    bottom: -7vh;
    right: 0vw;
    position: absolute;
    width: 100vw;
  }

  #name {
    font-size: 10vw;
    position: fixed;
    width: auto;
    top: -2vh;
    margin-left: 24vw;
    display: inline;
    z-index: 2001;
  }

  #lash-wrap {
    display: none;
  }

  #tag {
    top: 61.5vh;
  }

  #landing-button-wrapper {
    width: 100vw;
    height: 25vh;
    flex-direction: column;
    margin: 0;
    top: 138vw;
  }

  button.type-1 {
    border: 1.5px solid #EAB55C;
    width: 80vw;
    font-size: 5vw;
    position: relative;
    opacity: 1;
  }

  #button-1 {
    color: white;
    background-color: #89C6C5;
    border: #89C6C5;
  }

  #button-1:hover {
    background-color: white;
    color: #89C6C5;
  }

  #button-2 {
    color: white;
    background-color: #EAB55C;
  }

  #button-1:hover {
    background-color: white;
    color: #EAB55C;
  }

  div#missive {
    width: 60;
    margin: 5vw 10vw 7vw 13vw;
  }

  #missive h1 {
    font-size: 6vw;
    color: #4D4D4D;
    text-align: center;
  }

  #missive p {
    font-size: 5vw;
    text-align: center;
  }

  #who-we-are {
    position: relative;
  }

  #divide {
    width: 40vw;
    margin: auto 30vw;
  }

  div#read-more {
    position: relative;
    padding: 2vh 2vw;
  }

  #read-more h1 {
    font-size: 6vw;
    color: #4D4D4D;
  }

  #read-more p {
    font-size: 5vw;
  }

  button.type-2 {
    width: 80vw;
    font-size: 5vw;
  }

  div#join-us {
    width: 100vw;
    padding: 5vh auto;
    margin: 0;
    overflow: hidden;
  }

  #join-us img {
    width: 179vw;
    z-index: -2;
    position: absolute;
    left: -40vw;
  }

  #dark-wash {
    z-index: -1;
    width: 100vw;
    height: 100%;
    position: absolute;
    background-color: grey;
    opacity: 0.4;
  }

  img#circles {
    display: none;
  }

  div#join-call {
    width: 100vw;
    float: none;
    padding: 0 7vw 2vw;
    text-align: center;
  }

  #join-call h1 {
    font-size: 8vw;
    margin-top: 0;
    padding-top: 3vh;
  }

  #join-call p {
    font-size: 5vw;
    color: white;
  }

  #button-4 {
    margin-left: 4vw;
    margin-right: 7vw;
  }

  div#testimonials #image {
    background-position: 75%;
    display: none;
  }

  img#border-2 {
    width: 350vw;
  }

  #testimonials h1 {
    font-size: 8vw;
    padding: 0;
    color: #89C6C5;
    text-align: center;
  }

  #testimonial-wrapper {
    margin: 16vh 3vw 0;
    height: auto;
    width: 94vw;
    color: #4D4D4D;
    flex-direction: column;
  }

  #testimonial-wrapper-left {
    width: 94vw;
    font-size: 4.5vw;
    display: block;
    position: relative;
  }

  #testimonial-image-wrapper {
    width: 40vw;
    height: 40vw;
  }

  #testimonial-image-wrapper img {
    width: 100%;
  }

  #testimonial-wrapper-right {
    font-size: 5vw;
    width: 88vw;
    margin: 5vh 3vw;
    text-align: center;
    display: block;
  }

  img#ears {
    position: absolute;
    top: -58px;
    width: 35vw;
    margin-left: 26.5vw;
  }

  img#stars {
    width: 45%;
  }

  button.type-3 {
    width: 80vw;
    background-color: transparent;
    color: white;
    font-size: 5vw;
    z-index: 101;
  }

  button.type-3:hover {
    background-color: white;
    color: #89C6C5;
  }

  #button-5-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/bubble-run.jpg);
    background-size: 190%;
    background-position: 75% 30%;
    height: 50vh;
    position: relative;
  }

  #button-5-wrapper #dark-wash {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 100;
  }

  .read-more-state ~ .read-more-trigger:before {
    content: 'READ MORE';
    position: absolute;
    display: block;
    top: 54.5vw;
    right: 7vw;
  }

  /* CONTACT PAGE */

  #contact-title {
    margin-top: 12vh;
    font-size: 6.5vw;
  }

  div#contact-wrapper {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7vh auto 12vh;
    overflow: visible;
  }

  div#blue-line {
    width: 40vw;
    height: 0;
    margin: 0;
  }

  #contact-wrapper-left,
  #contact-wrapper-center,
  #contact-wrapper-right {
    font-size: 3.5vw;
    width: 80%;
    overflow: visible;
    padding: 5vw;
  }

  #contact-circle {
    width: 30vw;
    right: 25vw;
  }

  #contact-swirl {
    position: absolute;
    z-index: -1;
    width: 22vw;
    right: 28vw;
  }

  #contact-train {
    top: 5vh;
    width: 30vw;
    right: 25vw;
  }

  /* PROMISE PAGE */

  #image-2 {
    float: right;
    position: absolute;
    top: 0;
    right:0vw;
    width: 131vw;
    height: 100vh;
    z-index: -1;
    background-image: url(images/book.jpg);
    background-size: cover;
    overflow: visible;
  }

  #white-wash {
    position: absolute;
    right: 0;
    width: 120vw;
    height: 120vh;
    background: linear-gradient(90deg, #393939, white, white);
    opacity: 0.4;
  }

  div#promise-content {
    width: 90vw;
    height: 95vh;
    top: 2vh;
  }

  #promise-content img {
    width: 25vw;
  }

  #promise-content h1 {
    font-size: 8vw;
  }

  #promise-content p,
  #promise-content table {
    font-size: 3vw;
  }

  #promise-content p:last-of-type {
    width: 95%;
  }

  #promise-content table img {
    width: 2vw;
    margin-right: 1vw;
  }

  img#promise-second,
  img#promise-first {
    width: 10vw;
  }

  #logo-big {
    display: none;
  }

  #promise-page #sitemap {
    position: absolute;
    bottom: -25vh;
  }

  /* FAQ PAGE */

  #faq-header {
    margin: 4vh 4.5vw 0;
    font-size: 6vw;
    letter-spacing: 0.45vw;
  }

  #faq-wrapper {
    font-size: 4vw;
    flex-direction: column;
  }

  #faq-left-clm {
    width: 100%;
    overflow: visible;
  }

  #faq-left-clm p {
    margin-bottom: 0;
  }

  #parent {
    color: #D49906;
    cursor: pointer;
  }

  #caregiver {
    color: #89C6C5;
    cursor: pointer;
  }

  #faq-right-clm {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    float: right;
    padding: 0 2vw 0 1.5vw;
  }

  #faq-right-clm span {
    padding-left: 3vw;
  }

  #image-3 {
    width: 100%;
    height: 30vh;
    margin-top: 3vh;
    position: relative;
  }

  #faq-left-clm img {
    position: absolute;
    width: 8vw;
    right: -1vw;
    top: 43vh;
  }

  /* APPLY PAGE */

  #apply-wrapper {
    width: 100vw;
    margin-top: 3vh;
    margin-bottom: 0;
    position: relative;
  }

  #apply-form {
    width: 86vw;
    display: block;
    margin: auto 7vw;
    position: relative;
    overflow: visible;
  }

  #apply-form h1 {
    font-size: 5vw;
  }

  #apply-form input,
  #apply-form textarea {
    font-size: 3vw;
  }

  #apply-form input:nth-of-type(3) {
    width: 45%;
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  #apply-page #sitemap {
    bottom: 0vh;
  }

  /* REQUEST PAGE */

  #request-image {
    position: absolute;
    width: 205vw;
    top: 0vh;
    left: -45vw;
    z-index: -100;
    opacity: 1;
  }

  #request-page #white-wash {
    opacity: 0.95;
    background: linear-gradient(white, transparent);
    right: 0vw;
    position: absolute;
    z-index: -99;
  }

  #request-wrapper {
    position: absolute;
    width: 80vw;
    right: 10vw;
    top: 4vh;
    overflow: visible;
  }

  #request-form {
    overflow: visible;
  }

  #request-form h1 {
    font-size: 6vw;
    letter-spacing: 0.3vw;
    color: #89C6C5;
    margin-bottom: 5vh;
  }

  #request-form input,
  #request-form textarea {
    width: 67%;
    font-size: 3vw;
    margin-bottom: 1vh;
    padding: 1.5%;
    padding-left: 2%;
    border: 0;
    opacity: 0.85;
  }

  #request-form textarea {
    width: 100%;
  }

  #request-form input:nth-of-type(3) {
    width: 45%;
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  #request-page #sitemap {
    position: absolute;
    bottom: 0vh;
  }

  /* PROCESS PAGE */

  #process-wrapper {
    width: 100%;
    height: 100vh;
    margin-top: 0vh;
    position: relative;
  }

  #process-wrapper #image {
    background-image: url('images/reading-laughing.jpg');
    background-size: cover;
    position: absolute;
    width: 130vw;
    height: 100%;
    right: 20vw;
  }

  #kid-laugh-wash {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(90deg, transparent, white);
  }

  #process-content {
    position: absolute;
    right: 0;
    width: 86vw;
    margin: 3vh 7vw 1vw;
    height: 90%;
    overflow: scroll;
  }

  /* BOOK A BABYSITTER */

  #babysitter-wrapper {
    background-image: url('images/pink-girl.jpg');
    background-position: 24% 50%;
    background-size: cover;
    height: 180vh;
    position: relative;
  }

  #babysitter-wrapper p {
    font-size: 4.5vw;
  }

  #babysitter-wrapper #white-wash {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(white, white, transparent);
    opacity: 0.9;
  }

  #babysitter-form-wrapper {
    width: 86vw;
    margin-left: 7vw;
    z-index: 100;
    position: absolute;
    top: 0vh;
    color: grey;
  }

  #babysitter-wrapper h1 {
    letter-spacing: 0.3vw;
  }

  #babysitter-form input,
  #babysitter-form textarea {
    width: 100%;
    font-size: 3vw;
    margin-bottom: 1vh;
    padding: 1.5%;
    padding-left: 2%;
    border: 0;
    color: grey;
    background-color: #EFF7F7;
  }

  #babysitter-form input:nth-of-type(1),
  #babysitter-form input:nth-of-type(2),
  #babysitter-form input:nth-of-type(3),
  #babysitter-form input:nth-of-type(4) {
    width: 75%;
  }

  #babysitter-form input:nth-of-type(5) {
    width: 100%;
    background-color: lightgrey;
    cursor: pointer;
  }

  /* AGENCY FEES */

  #agency-fees-wrapper {
    overflow: hidden;
    height: auto;
  }

  #agency-fees-wrapper #image {
    background-image: url('images/boy-yellow.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 256vw;
    z-index: -100;
    left: -87vw;
  }

  #image #white-wash {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, white, white, transparent);
    opacity: 0.97;
    left: -5vw;
  }

  #agency-fees {
    margin: 3vh 7vw;
    width: 86vw;
  }

  #agency-fees h1 {
    color: #89C6C5;
    font-weight: 600;
    letter-spacing: 0.65vw;
    font-size: 6vw;
  }

  #agency-fees h3 {
    color: #EAB55C;
    font-size: 4.25vw;
  }

  #agency-fees p:nth-of-type(4) {
    width: 86vw;
    margin-top: 5vh;
  }

  /* SITEMAP */

  #sitemap {
    font-size: 3.5vw;
    overflow-x: hidden;
  }

  #sitemap-border {
    width: 200vw;
    right: 0vw;
    display: none;
  }


}
