* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* MAIN PAGE & LAYOUT */

img#logo {
  width: 98px;
  margin: 20px 5px 10px 32px;
}

nav {
  display: inline-block;
  padding-right: 2%;
  float: right;
  margin-top: 1%;
  height: 100px;
  overflow: hidden;
}

nav h2 {
  margin: 40px 25px;
  font-size: 1em;
  display: inline-flex;
}

a,
a:visited,
a:active,
a:hover {
  color: black;
  padding-bottom: 5px;
}

a#home-button:hover,
a#home-button:active,
a#blog-button:hover,
a#blog-button:active,
a#faq-button:hover,
a#faq-button:active {
  background-image: url('images/underline-short.svg');
  background-position: bottom;
  background-repeat: no-repeat;
}

a#promise-button:hover,
a#promise-button:active,
a#contact-button:hover,
a#contact-button:active {
  background-image: url('images/underline-long.svg');
  background-position: bottom;
  background-repeat: no-repeat;
}


#landing {
  text-align: center;
  width: 100%;
}

#landing img {
  width: 100%;
  z-index: -1;
  opacity: 0.65;
}

img#border {
  opacity: 0.95;
  float: left;
  margin-top: -1%;
}

#name,
#tag {
  position: absolute;
  z-index: 1;
  width: 100%;
}

#name {
  font-size: 14vh;
  font-family: 'Old Standard TT', serif;
  top: 28%;
  letter-spacing: 18px;
}

img#lashes {
  width: 118px;
  border: 0;
  opacity: 1;
  position: absolute;
  top: 20%;
  right: 28.5%;
}

#tag {
  font-size: 3.35vh;
  top: 52%;
  letter-spacing: 5px;
}

button.type-1 {
  border: 2px solid white;
  padding: 15px 20px;
  width: 200px;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  font-size: 0.9em;
  color: white;
  opacity: 0.9;
}

button.type-1:hover,
button.type-1:active {
  background-color: white;
  color: #E4A710;
}

button:focus {
  outline: 0 !important;
}

#button-1,
#button-2 {
  bottom: 22%;
}

#button-1 {
  right: 0;
  margin-right: 51%;
}

#button-2 {
  left: 0;
  margin-left: 51%;
}

div#who-we-are {
  height: 100%;
}

div#missive {
  width: 55%;
  margin: 5% 25% 7% 20%;
  font-size: 1em;
}

#missive h1 {
  color: #8FD4CC;
  font-size: 2.75em;
  margin-bottom: 0;
  letter-spacing: 13px;
}

#missive p {
  font-size: 1.05em;
  letter-spacing: 2.5px;
}

div#image-wrapper {
  width: 100%;
  height: 95vh;
  overflow: hidden;
  position: relative;
}

div#image-wrapper img {
  width: 100%;
  opacity: 0.8;
}

div#read-more {
  text-align: center;
  padding: 2% 20%;
}

#read-more h1 {
  color: #8FD4CC;
  font-size: 2.15em;
  letter-spacing: 6px;
}

#read-more p {
  font-size: 1.05em;
  letter-spacing: 2.5px;
}

button.type-2 {
  padding: 15px 20px;
  width: 250px;
  background-color: #8FD4CC;
  border-radius: 3px;
  font-size: 0.9em;
  color: white;
  border: none;
}

#button-3 {
  margin: 3%;
}

div#join-us {
  width: 100%;
  margin: 3%;
  position: relative;
}

#join-us img {
  width: 45%;
}

img#circles {
  position: absolute;
  width: 100px;
  bottom: -7.25%;
  right: 51.2%;
}

div#join-call {
  float: right;
  width: 47%;
  margin-right: 6%;
}

#join-call h1 {
  color: #E4A710;
  font-size: 2.15em;
  letter-spacing: 6px;
}

#join-call p {
  font-size: 1.05em;
  letter-spacing: 2.5px;
}

#button-4 {
  margin: 3% 0;
}

div#testimonials {
  width: 100%;
  margin-top: 8%;
  position: relative;
  margin-bottom: 80px;
  overflow: visible;
}

div#testimonials #image {
  position: absolute;
  overflow: visible;
  background-image: url('images/bubble-run.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 100%;
  width: 100%;
}

div#blue-wash {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #8FD4CC, #8FD4CC, white);
  opacity: 0.4;
}

img#border-2 {
  opacity: 0.95;
  margin-top: -0.75%;
  width: 100%;
  position: absolute;
  left: -5%;
  width: 110%;
}

#testimonials h1 {
  font-size: 2.15em;
  letter-spacing: 6px;
  color: grey;
  padding: 4% 0 0 6%;
}

#testimonials table {
  width: 80%;
  color: white;
  margin: 0 0 0 8%;
  font-size: 1em;
  letter-spacing: 2.5px;
}

td {
  padding: 7.5% 2% 6.5%;
}

td#table-images {
  text-align: center;
  width: 20%;
  margin-top: 5%;
  padding: 2% 2% 0;
  position: relative;
}

img#ears {
  position: absolute;
  width: 50%;
  left: 25%;
  right: 25%;
  bottom: 27%;
}

img#stars {
  width: 80%;
  margin-bottom: -40%;
  padding: 0;
}

button.type-3 {
  padding: 15px 20px;
  width: 225px;
  color: #8FD4CC;
  font-size: 0.9em;
  background-color: white;
  border: none;
}

#testimonials span {
  display: block;
  width: 100%;
  text-align: center;
  height: 80px;
}

/* CONTACT PAGE */

#contact-title {
  text-align: center;
  letter-spacing: 6px;
  margin-top: 5%;
}

div#contact-wrapper {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  font-size: 0.9em;
  margin-top: 4%;
}

div#blue-line {
  position: relative;
  height: 180px;
  border: 1px solid #8FD4CC;
  margin-top: 10px;
}

#contact-wrapper-left {
  position: relative;
  padding: 30px;
}

#contact-wrapper-right {
  position: relative;
  padding: 30px;
  padding-left: 30px;
}

#contact-circle {
  position: absolute;
  z-index: -1;
  width: 130px;
  margin-left: 16%;
}

#contact-swirl {
  position: absolute;
  z-index: -1;
  width: 100px;
  margin-left: 11%;
}

#contact-wrapper-left h2{
  text-align: right;
}

#social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4.5%;
  margin-bottom: -3.5%;
}

#social-media-icon {
  width: 22px;
  margin: 10px;
}

#social-media h3 {
  font-size: 1em;
  letter-spacing: 3px;
  padding-top: 58px;
  margin-right: 15px;
}

/* PROMISE PAGE */

#promise-page {
  color: white;
  overflow: hidden;
}

#promise-page a,
#promise-page a:hover,
#promise-page a:active,
#promise-page a:visited {
  color: white;
}

#image-2 {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(images/book.jpg);
  background-size: cover;
}

#white-wash {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #393939, white, white);
  opacity: 0.4;
}

div#promise-content {
  width: 48%;
  height: 100%;
  padding: 4.5%;
}

#promise-content img {
  width: 120px;
  margin-left: 10px;
}

#promise-content h1 {
  font-size: 3em;
  margin: 0;
  letter-spacing: 6px;
}

#promise-content p {
  font-size: 1.2em;
  margin-bottom: 6%;
}

#logo-big {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  margin: 20px;
}
